services:
  binge:
    platform: "linux/amd64"
    build:
      context: .
      dockerfile: Dockerfile
    working_dir: /app
    ports:
      - "3092:3000"
    image: binge-docker
    networks:
      - binge
    environment:
      - DATABASE_URL=postgresql://binge:r_8r5YR8FRId-1AT@binge-db:5432/binge
    depends_on:
      binge-db:
        condition: service_healthy

  binge-db:
    # Official Postgres image from DockerHub (we use the last version)
    image: 'postgres:latest'
    networks:
      - binge
    volumes:
      - ./postgres_data:/var/lib/postgresql/data
    environment:
      POSTGRES_USER: binge # The PostgreSQL user (useful to connect to the database)
      POSTGRES_PASSWORD: r_8r5YR8FRId-1AT # The PostgreSQL password (useful to connect to the database)
      POSTGRES_DB: binge
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U binge -d binge" ]
      interval: 5s
      timeout: 5s
      retries: 5

networks:
  binge: